.qrDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img1_20 {
    display: inline-block;
    background-image: url('./package_20/one.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img2_20 {
    display: inline-block;
    background-image: url('./package_20/two.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img3_20 {
    display: inline-block;
    background-image: url('./package_20/three.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img4_20 {
    display: inline-block;
    background-image: url('./package_20/four.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}
.img1_35 {
    display: inline-block;
    background-image: url('./package_35/one.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img2_35 {
    display: inline-block;
    background-image: url('./package_35/two.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img3_35 {
    display: inline-block;
    background-image: url('./package_35/three.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.img4_35 {
    display: inline-block;
    background-image: url('./package_35/four.png');
    background-size: 100% 100%;
    width: 503px;
    height: 507px;
    position: relative;
    margin: 5px;
}

.codeDev {
    position: absolute;
    right: 70px;
    bottom: 86px;
}

.inviteCode {
    position: absolute;
    right: 20px;
    bottom: 22px;
    font-size: 25px;
    color: white;
}

.copy-btn {
    border: none;
    outline: none;
    background-color: #6485de !important;
    border-color: #6485de !important;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

#jumplink {
    padding-top: 100px;
    padding-left: 100px;
}

#jumplink1 {
    display: inline;
    margin: auto;
    background-color: #fff !important;
    border-color: #fff !important;
    color: black;
}

#jumplink2 {
    display: inline;
    margin: auto;
    background-color: #fff !important;
    border-color: #fff !important;
    color: #6485de;
}