.left-nav {
  .left-nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    cursor: pointer;
    background-image: url('./bg.jpg');
    flex-direction: column;
    
    img {
      margin: 0 15px;
      width: 40px;
      height: 40px;
    }

    h1 {
      color: white;
      font-size: 20px;
      margin-bottom: 0;
    }
    h4 {
      color: white;
      font-size: 10px;
      margin-bottom: 0;
    }
  }
  .lefv-nav-manu{
    background: rgb(72,80,98);
  }
  .ant-menu-submenu{
    color: white;
  }
  .ant-menu-submenu-active{
    background: white;
  }
  .ant-menu-item-selected{
    background-color: white !important;

  }
  .ant-menu-item > a{
    color: white;
  }
  .ant-menu-item-selected > a {
    color: #1DA57A;
  }
  #airplane{
    display: inline-block;
    background-image: url('./airplane.png');
    background-size: 100% 100%;
    width: 18px;
    height: 13px;
    
  }
  #cicle{
    display: inline-block;

    background-image: url('./cicle.png');
    background-size: 100% 100%;
    width: 18px;
    height: 16px;
  }
}